In [125]:
import pandas as pd
brands=pd.read_csv("/eniac-clean-data/tables/brands.csv")
orderlines=pd.read_csv("/eniac-clean-data/tables/orderlines.csv")
orders=pd.read_csv("/eniac-clean-data/tables/orders.csv")
products=pd.read_csv("/eniac-clean-data/tables/products.csv")
pd.set_option("display.float_format", lambda x: "%.2f" % x)
pd.set_option("display.max_rows", 1000)

Check for duplicated entries and missing values

In [16]:
brands.isnull().sum()

short    0
long     0
dtype: int64

In [17]:
brands.duplicated().sum()

0

In [18]:
brands.isna().sum()

short    0
long     0
dtype: int64

In [120]:
brands.to_csv("/eniac-clean-data/tables/brands_clean.csv")

There arent any duplicated or missing rows in the brands.csv.

In [19]:
orders.duplicated().sum()

0

In [20]:
orders.isnull().sum()

order_id        0
created_date    0
total_paid      5
state           0
dtype: int64

In [21]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226909 entries, 0 to 226908
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      226909 non-null  int64
 1   created_date  226909 non-null  object
 2   total_paid    226904 non-null  float64
 3   state         226909 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 6.9+ MB

In [22]:
orders.isna().sum()

order_id        0
created_date    0
total_paid      5
state           0
dtype: int64

In [27]:
orders.dropna(subset=["total_paid"], inplace=True)

In [28]:
orders.isna().sum()

order_id        0
created_date    0
total_paid      0
state           0
dtype: int64

In [121]:
orders.to_csv("/eniac-clean-data/tables/orders_clean.csv")

There were 5 missing values in total in the orders.csv. They were representing an unsignificant amount of data, so I deleted them.

In [29]:
orderlines.isna().sum()

id                  0
id_order            0
product_id          0
product_quantity    0
sku                 0
unit_price          0
date                0
dtype: int64

In [122]:
orderlines.to_csv("/eniac-clean-data/tables/orderlines_clean.csv")

There arent any missing value and duplicated rows in the orderlines.csv.

In [126]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19326 entries, 0 to 19325
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sku          19326 non-null  object
 1   name         19326 non-null  object
 2   desc         19319 non-null  object
 3   price        19280 non-null  object
 4   promo_price  19326 non-null  object
 5   in_stock     19326 non-null  int64
 6   type         19276 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.0+ MB

In [127]:
products.isna().sum()

sku             0
name            0
desc            7
price          46
promo_price     0
in_stock        0
type           50
dtype: int64

In [128]:
products.price.isna().value_counts()

price
False    19280
True        46
Name: count, dtype: int64

In [129]:
products.duplicated().sum()

8746

In [130]:
products.duplicated().sum()

8746

In [131]:
products.isna().sum()

sku             0
name            0
desc            7
price          46
promo_price     0
in_stock        0
type           50
dtype: int64

In [132]:
products.dtypes

sku            object
name           object
desc           object
price          object
promo_price    object
in_stock        int64
type           object
dtype: object

In [133]:
products["price"].unique()

array(['59.99', '59', '25', ..., '84.900.013', '42.999.044', '519'],
      dtype=object)

In [134]:
def clean_and_convert_price(value):
    if pd.isna(value) or value == '':
        return value
    parts = value.split('.')
    if len(parts) > 1:
        value = ''.join(parts[:-1]) + '.' + parts[-1]
    return float(value)
products['price'] = products['price'].astype(str).apply(clean_and_convert_price)

In [135]:
products.isnull().sum()

sku             0
name            0
desc            7
price          46
promo_price     0
in_stock        0
type           50
dtype: int64

In [150]:
def adjust_promo_price(value):
    if pd.isna(value) or value == '':
        return np.nan
    value_str = str(value)
    value_str = ''.join(filter(str.isdigit, value_str))
    adjusted_value = float(value_str) / 100
    return adjusted_value
products['promo_price'] = products['promo_price'].astype(str).apply(adjust_promo_price)

/var/folders/23/v45vdf3j7791ws_6xl_8l1hw0000gn/T/ipykernel_38356/220031844.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  products['promo_price'] = products['promo_price'].astype(str).apply(adjust_promo_price)

In [138]:

products['promo_price'].head()

0   4998.99
1   5899.96
2   5698.98
3   2299.97
4     31.99
Name: promo_price, dtype: float64

In [139]:

products['promo_price'] = products['promo_price'] / 100

In [140]:
products

,sku,name,desc,price,promo_price,in_stock,type
0,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,49.99,1,8696
1,APP0023,Apple Mac Keyboard Keypad Spanish,USB ultrathin keyboard Apple Mac Spanish.,59.00,59.00,0,13855401
2,APP0025,Mighty Mouse Apple Mouse for Mac,mouse Apple USB cable.,59.00,56.99,0,1387
3,APP0072,Apple Dock to USB Cable iPhone and iPod white,IPhone dock and USB Cable Apple iPod.,25.00,23.00,0,1230
4,KIN0007,Mac Memory Kingston 2GB 667MHz DDR2 SO-DIMM,2GB RAM Mac mini and iMac (2006/07) MacBook Pr...,34.99,0.32,1,1364
...,...,...,...,...,...,...,...
19321,BEL0376,Belkin Travel Support Apple Watch Black,compact and portable stand vertically or horiz...,29.99,26.99,1,12282
19322,THU0060,"Enroute Thule 14L Backpack MacBook 13 ""Black",Backpack with capacity of 14 liter compartment...,69.95,64.99,1,1392
19323,THU0061,"Enroute Thule 14L Backpack MacBook 13 ""Blue",Backpack with capacity of 14 liter compartment...,69.95,64.99,1,1392
19324,THU0062,"Enroute Thule 14L Backpack MacBook 13 ""Red",Backpack with capacity of 14 liter compartment...,69.95,64.99,0,1392
19325,THU0063,"Enroute Thule 14L Backpack MacBook 13 ""Green",Backpack with capacity of 14 liter compartment...,69.95,64.99,1,1392

In [141]:
products = products.drop_duplicates()
products.shape

(10580, 7)

In [142]:
products

,sku,name,desc,price,promo_price,in_stock,type
0,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,49.99,1,8696
1,APP0023,Apple Mac Keyboard Keypad Spanish,USB ultrathin keyboard Apple Mac Spanish.,59.00,59.00,0,13855401
2,APP0025,Mighty Mouse Apple Mouse for Mac,mouse Apple USB cable.,59.00,56.99,0,1387
3,APP0072,Apple Dock to USB Cable iPhone and iPod white,IPhone dock and USB Cable Apple iPod.,25.00,23.00,0,1230
4,KIN0007,Mac Memory Kingston 2GB 667MHz DDR2 SO-DIMM,2GB RAM Mac mini and iMac (2006/07) MacBook Pr...,34.99,0.32,1,1364
...,...,...,...,...,...,...,...
19321,BEL0376,Belkin Travel Support Apple Watch Black,compact and portable stand vertically or horiz...,29.99,26.99,1,12282
19322,THU0060,"Enroute Thule 14L Backpack MacBook 13 ""Black",Backpack with capacity of 14 liter compartment...,69.95,64.99,1,1392
19323,THU0061,"Enroute Thule 14L Backpack MacBook 13 ""Blue",Backpack with capacity of 14 liter compartment...,69.95,64.99,1,1392
19324,THU0062,"Enroute Thule 14L Backpack MacBook 13 ""Red",Backpack with capacity of 14 liter compartment...,69.95,64.99,0,1392
19325,THU0063,"Enroute Thule 14L Backpack MacBook 13 ""Green",Backpack with capacity of 14 liter compartment...,69.95,64.99,1,1392

The duplicated and missing value from products.csv were removed. Also the numerical value in columns "price" and "promo_price" was fixed, by applying functions in Python.